body{
    background-color:#f5f5f5;
    font-family:Arial, sans-serif;

}
p{

    font-size: 16px;

}

.main{
     
     display:flex;
}
.left{
    width: 400px;
    background-color: #150080;
    color: white;
padding: 10px;
}

.center{
    width: 400px;
    padding: 10px;
}

.right{
    width: 400px;
    background-color: #150080;
    padding: 10px;
}
.logo {
    width: 80px;
    height: auto;
    object-fit: contain;
    vertical-align: middle;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: #800020;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: gold;
}
.hero{
    background-image: url("images/anasayfa.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.overlay{
    background: rgba(0,0,0,0.4);
    padding:40px;
    border-radius:20px;
    color:white;
}

.overlay h1{
    font-size:60px;
}

.overlay p{
    font-size:22px;
    margin-top:20px;
}

.overlay button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:10px;
    font-size:18px;
}
.left ul {
    list-style: disc;
    padding-left: 20px;
}

.left li {
    font-size: 20px;
    margin: 8px 0;
}
.left ul li a {
    color: black;
    text-decoration: none;
}
.left ul li a {
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
    border-radius: 6px;
}

.left ul li a:hover {
    background: #eee;
}
.navbar {
    background-color: #150080 !important;
}

.navbar a {
    color: white !important;
}

.navbar a:hover {
    color: gold !important;
}